In [1]:
import pandas as pd

In [2]:
s = pd.Series(['banana',42])

In [3]:
s

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(['Wes','pandas'],index=['Person','Who'])

In [5]:
s

Person       Wes
Who       pandas
dtype: object

In [7]:
df = pd.read_csv('data/scientists.csv')

In [8]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [9]:
df.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [10]:
df.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [11]:
df.keys()

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [13]:
df['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [14]:
df['Age'].mean()

59.125

In [15]:
df['Age'].min()

37

In [16]:
df['Age'].max()

90

In [17]:
df['Age'].std()

18.325918413937288

In [18]:
df.describe()

             Age
count   8.000000
mean   59.125000
std    18.325918
min    37.000000
25%    44.000000
50%    58.500000
75%    68.750000
max    90.000000

In [19]:
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician